.header-nav-link{
    text-decoration: none;
    padding: 15px 32px;
    color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--p-md);
    border-radius: var(--br-lg);
    cursor: pointer;
}

.header-nav-link-active{
    background-color: var(--black);
}

.header-nav-link:hover{
    background-color: var(--gray);
    cursor: pointer;
}   