:root{
    --primary: red;
    --secondary: rgb(255, 59, 59);
    --main-bg-color: #1E1E1E;
    --white: #ffffff;
    --error: #EE3131;
    --gray: #464646;
    --black: rgba(0,0,0,0.8);
    --br-md: 9.25px;
    --br-lg: 18.5px;
    --p-lg: 2.95rem;
    --p-md: 1.25rem;
    --p-sm: 1rem;
    --p-xs: 0.2rem;
    --size-md: 16px;
    --size-lg: 18px;
    --size-xl: 24px;
    --size-xxl: 36px;
}

.josefin-sans-font {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}
  

* {
    margin: 0;
    padding: 0;
}

body, #root {
    height: 100%;
    width: 100%;
    background-color: var(--main-bg-color);
}

#root-layout {
    display: flex;
    flex-direction: row;
}

h1,h2,h3,h4,h5,p,button,span,label,th,td {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

.c-primary {
    color: var(--primary)
}

.c-secondary {
    color: var(--secondary)
}

.c-black {
    color: var(--black)
}

.c-white {
    color: var(--white)
}

.c-surface {
    color: var(--surface)
}

.bg-primary {
    background-color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg-black {
    background-color: var(--black);
}

.bg-surface {
    background-color: var(--surface);
}

.bg-background {
    background-color: var(--background);
}

.size-sm {
    font-size: 12px;
}

.size-md {
    font-size: 16px;
}

.size-lg {
    font-size: 18px;
}

.size-xl {
    font-size: 24px;
}

.size-xxl {
    font-size: 36px;
}

.br-md {
    border-radius: var(--br-md);
}

.br-lg {
    border-radius: var(--br-lg);
}

